
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
@import 'libs/style_my_normolize.css';

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    transition-property: background-color, color, fill, stroke, border-color, outline;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}

.fade{animation-name: fade;animation-duration: .7s;}
@keyframes fade{from{opacity: 0;}to{opacity: 1;}}
.fadeOut{animation-name: fadeOut;animation-duration: .7s;}
@keyframes fadeOut{from{opacity: 1;}to{opacity: 0;}}

@import 'blocks/btns';
@import 'blocks/go';
@import 'blocks/popup';
